.pre-title {
  text-transform: uppercase;
  @include font(11px, 600, 1.36, 0.1em);
  @extend %list;
  &::before {
    content: '';
    height: 1px;
    width: 60px;
    background: currentColor;
    margin-right: 20px;
  }
  &--color-light {
    color: rgba(157, 164, 189, 0.6);
  }

  &--color-dark {
    color: #303030;
  }
}
